@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
}

.text-gradient {
  background-image: linear-gradient(to right, #13b0f5, #e70faa);
  background-clip: text;
  color: transparent;
}

.tech-stack__icons img {
  width: 80px;
  height: 80px;
  margin-left: 20px;
  margin-right: 20px;
}

.tech-stack__icons img {
  transition: transform 0.5s;
}

.tech-stack__icons img:hover {
  transform: scale(1.1);
}

.tech-stack__icons img:not(:hover) {
  transform: scale(1);
}

.tech-stack__icon {
  transition: transform 0.5s;
}

.tech-stack__icon:hover {
  transform: scale(1.1);
}

.tech-stack__icon:not(:hover) {
  transform: scale(1);
}

.social-icon img {
  transition: transform 0.5s;
}

.social-icon img:hover {
  transform: scale(1.1);
}

.social-icon img:not(:hover) {
  transform: scale(1);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: #181818;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #666666;
}

::-ms-scrollbar {
  width: 5px;
}
