@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #191919;
}

.text-gradient {
  background-image: linear-gradient(to right, #13b0f5, #e70faa);
  background-clip: text;
  color: transparent;
}

.tech-stack__icons img {
  width: 80px;
  height: 80px;
  margin-left: 20px;
  margin-right: 20px;
}

@media screen and (min-width: 1200px) {
  .tech-stack__icons img {
    transition: transform 0.5s;
  }

  .tech-stack__icons img:hover {
    transform: scale(1.1);
  }

  .tech-stack__icons img:not(:hover) {
    transform: scale(1);
  }
}
