@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #191919;
}

.text-gradient {
  background-image: linear-gradient(to right, #13b0f5, #e70faa);
  background-clip: text;
  color: transparent;
}

.profile-photo {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  object-fit: cover;
}
